<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>EliminarProductoServlet</servlet-name>
        <servlet-class>servletsInventario.EliminarProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEntradaInventarioServlet</servlet-name>
        <servlet-class>servletsInventario.EliminarEntradaInventarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntradasInventarioServlet</servlet-name>
        <servlet-class>servletsInventario.EntradasInventarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarEntradaInventarioServlet</servlet-name>
        <servlet-class>servletsInventario.ModificarEntradaInventarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarProductoServlet</servlet-name>
        <servlet-class>servletsInventario.ModificarProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarMermasServlet</servlet-name>
        <servlet-class>servletsMermas.AgregarMermasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarMermasServlet</servlet-name>
        <servlet-class>servletsMermas.ConsultarMermasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarMermaServlet</servlet-name>
        <servlet-class>servletsMermas.EliminarMermaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarProductosServlet</servlet-name>
        <servlet-class>servletsInventario.AgregarProductosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarProductosServlet</servlet-name>
        <servlet-class>servletsInventario.ConsultarProductosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarEntradasServlet</servlet-name>
        <servlet-class>servletsInventario.AgregarEntradasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarEntradasServlet</servlet-name>
        <servlet-class>servletsInventario.ConsultarEntradasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusquedaProductosServlet</servlet-name>
        <servlet-class>servletsInventario.BusquedaProductosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusquedaEntradaInventarioServlet</servlet-name>
        <servlet-class>servletsInventario.BusquedaEntradaInventarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusquedaMermasServlet</servlet-name>
        <servlet-class>servletsMermas.BusquedaMermasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EliminarProductoServlet</servlet-name>
        <url-pattern>/eliminarProductoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEntradaInventarioServlet</servlet-name>
        <url-pattern>/eliminarEntradaInventarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntradasInventarioServlet</servlet-name>
        <url-pattern>/entradasInventarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarEntradaInventarioServlet</servlet-name>
        <url-pattern>/modificarEntradaInventarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarProductoServlet</servlet-name>
        <url-pattern>/modificarProductoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarMermasServlet</servlet-name>
        <url-pattern>/agregarMermasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarMermasServlet</servlet-name>
        <url-pattern>/consultarMermasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarMermaServlet</servlet-name>
        <url-pattern>/eliminarMermaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarProductosServlet</servlet-name>
        <url-pattern>/agregarProductosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarProductosServlet</servlet-name>
        <url-pattern>/consultarProductosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarEntradasServlet</servlet-name>
        <url-pattern>/agregarEntradasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarEntradasServlet</servlet-name>
        <url-pattern>/consultarEntradasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaProductosServlet</servlet-name>
        <url-pattern>/busquedaProductosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaEntradaInventarioServlet</servlet-name>
        <url-pattern>/busquedaEntradaInventarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaMermasServlet</servlet-name>
        <url-pattern>/busquedaMermasServlet</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
