<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ProductosServlet</servlet-name>
        <servlet-class>servlets.ProductosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuPrincipalServlet</servlet-name>
        <servlet-class>servlets.MenuPrincipalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuInventarioServlet</servlet-name>
        <servlet-class>servlets.MenuInventarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusquedaProductosServlet</servlet-name>
        <servlet-class>servlets.BusquedaProductosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProductoServlet</servlet-name>
        <servlet-class>servlets.EliminarProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusquedaEntradasInventarioServlet</servlet-name>
        <servlet-class>servlets.BusquedaEntradasInventarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEntradaInventarioServlet</servlet-name>
        <servlet-class>servlets.EliminarEntradaInventarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntradasInventarioServlet</servlet-name>
        <servlet-class>servlets.EntradasInventarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductosServlet</servlet-name>
        <url-pattern>/productosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuPrincipalServlet</servlet-name>
        <url-pattern>/menuPrincipalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuInventarioServlet</servlet-name>
        <url-pattern>/menuInventarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaProductosServlet</servlet-name>
        <url-pattern>/busquedaProductosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProductoServlet</servlet-name>
        <url-pattern>/eliminarProductoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaEntradasInventarioServlet</servlet-name>
        <url-pattern>/busquedaEntradasInventarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEntradaInventarioServlet</servlet-name>
        <url-pattern>/eliminarEntradaInventarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntradasInventarioServlet</servlet-name>
        <url-pattern>/entradasInventarioServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
